/* custom */

/* .layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
} .left-side {
    max-width: 750px;
} .left-side > img {
    width: 750px;
} */
                                              