.step {
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid #f9086d;
    padding-top: 10px;
    border-radius: 5px;
} .step > p {
    display: block;
}


.article-1 {
    display: grid;
    grid-template-columns: 330px 1fr;
} .article-1 > p {
    margin-left: 10px;
    margin-top: 0;
    text-align: justify;
} .article-2 {
    display: grid;
    grid-template-columns: 1fr 360px;
} .article-2 > p {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0;
    text-align: justify;
}  .ingredientsAndProcessing {
    display: grid;
    grid-template-columns: 1fr 1fr;
}   .stepsToPurchase {
    display: grid;
    grid-template-columns: 247px 247px 247px 248.6px;
    column-gap: 7.9px;
}




