 @keyframes moveImage1 {
  from {
    left: 80%;
  }
  to {
    left: 30%;
  }
 }
 
 @keyframes moveImage2 {
  from {
    left: 80%;
  }
  to {
    left: 45%;
  }
 }

 @keyframes moveImage3 {
  from {
    left: 80%;
  }
  to {
    left: 63%;
  }
 }
 
 /* keyframe */
 body {
  margin: 0;
 }
 
 nav {
    margin-top: 20px;
 } .sub-nav {
    font-family: arial;
    text-decoration: none;
    background-color: blue;
    border-width: 1px;
    border-style: solid;
    border-color: white; 
    color: #ed4190;
    font-size: 17px;
    padding-left: 4px; padding-bottom: 2px;
    padding-right: 4px; padding-top: 2px;
    background-color: #ffff80;
    transition: background-color 0.1618s, color 0.1618s;
 } .sub-nav:hover {
    background-color: #ed4190;
    color: #fff;
 }

 .header-1 {
    background-image: url('../buoi2/header.png');
    background-size: cover;
    background-position: center;
    height: 100px;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid #ccc7c8;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
 }

 .header-img-1 {
    position: absolute;
    top: -30px;
    left: 80%;
    height: 100px;
    animation: moveImage1 3s forwards;
 }

 .header-img-2 {
    height: 70px;
    position: absolute;
    top: -5px;
    left: 80%;
    animation: moveImage2 3s forwards;
 }

 .header-img-3 {
  height: 80px;
  position: absolute;
  top: 0;
  left: 80%;
  animation: moveImage3 3s forwards;
}

 .nav-grid {
    display: grid;
    grid-template-columns: 600px 1fr 400px;
    vertical-align: middle;
    margin-bottom: 20px;
    align-items: center;
 } 
 
 .nav-index {
   margin-bottom: 10px;
 }
 .nav-index-1 {
   margin-top: 14px;
 } 
 .searching-bar {
   padding-top: 3px;
   padding-bottom: 3px;
   float: right;
 } 
 .fa-search {
   color: white ;
   background-color: #cddc39;
   width: 20px;
   padding: 4px;
   float: right;
   cursor: pointer;
 } 
 .fa-shopping-cart {
   width: 20px;
   background-color: #cddc39;
   padding: 4px;
   color: #ed4190;
   float: right;
   cursor: pointer;
   margin-left: 3px;
 }

 /* a {
  text-decoration: none;
  color: #ed4190;
  font-weight: bold;
 } */
 .fab {
  color: #ed4190;
 }
 .footer-1 {
  font-family: arial;
  text-align: center;
  border: 1px solid #ccc7c8;
  border-radius: 5px;
 }
 .top-icon {
  width: 50px;
  height: 50px;
  background-image: url("../buoi2/top.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  right: 9px;
  bottom: 13px;
  padding: 2px;
 }
